profiles {
    test {
        conda.enabled = true
        singularity.enabled = true
        singularity.autoMounts = true
        process {
            executor = 'slurm'
            queue = 'main'
            conda = "/archive/carpenterlab/pire/marianne/nf-pipelines/environments/nf-angsd-diversity.yml"
            
            withName: 'ANGSD_GL_ALL' { cpus = 1; memory = '4 GB' }
            withName: "ANGSD_COLLECT_OUTPUT" { cpus = 1; memory = '4 GB' }
            withName: "PCANGSD" { cpus = 1; memory = '4 GB' }
            withName: "ANGSD_GL_POP" { cpus = 1; memory = '4 GB' }
            withName: 'COLLECT_BAM_ALL' {
                executor = 'local'
                queue = null
                clusterOptions = null
                cpus = 1
                memory = '4 GB'
                conda = null
            }
            withName: 'COLLECT_BAM_POP' {
                executor = 'local'
                queue = null
                clusterOptions = null
                cpus = 1
                memory = '4 GB'
                conda = null
            }
        }
    }
    standard {
        conda.enabled = true
        singularity.enabled = true
        singularity.autoMounts = true
        process {
            executor = 'slurm'
            queue = 'main'
            conda = "/archive/carpenterlab/pire/marianne/nf-pipelines/environments/nf-angsd-diversity.yml"
            
            withName: 'ANGSD_GL_ALL' { cpus = 1; memory = '4 GB' }
            withName: "ANGSD_COLLECT_OUTPUT" { cpus = 1; memory = '4 GB' }
            withName: "PCANGSD" { cpus = 8; memory = '32 GB' }
            withName: "ANGSD_GL_POP" { cpus = 8; memory = '32 GB' }
            withName: 'COLLECT_BAM_ALL' {
                executor = 'local'
                queue = null
                clusterOptions = null
                cpus = 1
                memory = '4 GB'
                conda = null
            }
            withName: 'COLLECT_BAM_POP' {
                executor = 'local'
                queue = null
                clusterOptions = null
                cpus = 1
                memory = '4 GB'
                conda = null
            }
        }
    }
}    