profiles {
    standard {
        conda.enabled = true
        singularity.enabled = true
        singularity.autoMounts = true
        process {
            executor = 'slurm'
            queue = 'main'
            conda = "${projectDir}/environment.yml"
            
            withName: 'FASTP.*' { cpus = 2; memory = '8 GB' }
            withName: 'SEQTK.*' { cpus = 1; memory = '4 GB' }
            withName: 'SPLIT.*' { cpus = 1; memory = '4 GB' }
            withName: 'QC.*' { cpus = 2; memory = '4 GB' }
            withName: 'BWA.*' { cpus = 4; memory = '16 GB' }
            withName: 'MARKDUP.*' { cpus = 2; memory = '8 GB' }
            withName: 'MERGE_BAMS' { cpus = 2; memory = '8 GB' }
            withName: 'AMBER_PREP' { cpus = 2; memory = '8 GB' }
            withName: 'AMBER_PREP_PREGATK' { cpus = 2; memory = '8 GB' }
            withName: 'BAM_QC' { cpus = 2; memory = '8 GB' }
            withName: 'INDEX_REALIGNED' { cpus = 2; memory = '8 GB' }
            
            // GATK 3.7 Configuration
            withName: 'INDEL_REALN' {
                container = '/cm/shared/containers/docker/broadinstitute-gatk3:3.7-0.sif'
                conda = null // Disable conda for this specific process
                cpus = 4
                memory = '16 GB'
            }
            
            // AMBER uses different conda environment
            withName: 'AMBER_PREGATK' {
                conda = '/home/mdehasqu/envs/AMBER'
                cpus = 2
                memory = '8 GB'
            }
            // AMBER uses different conda environment
            withName: 'AMBER' {
                conda = '/home/mdehasqu/envs/AMBER'
                cpus = 2
                memory = '8 GB'
            }
        }
    }
}